body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.top-header{
    background: #ED3029;
    height: 40px;
}
.main-header{
    margin-left: -18px;
    padding-bottom:30px;
    background-image: url('../img/oni_web.png');
}
.main-header img{
    max-width: 100%;
    height: 130px;
}
.main-header-top>ul{
    display: flex;
    list-style-type: none;
    padding: 10px 0;
    margin-left: 4px;
    color: white;
}
.main-header-top>ul>li{
    padding: 0 5px;
}
.main-header-top a{
    text-decoration: none;
    color: white;
}
.main-header-top a:hover{
    color: black;
}
.right{
    float: right;
    text-align: right;
}
.left{
    text-align: left;
}
.top-logo{
    margin-left: -16px;
    width: 40px;
    height: 45px;
    border-radius: 10px;
    background: tomato;
    border: white;
}
.banner.p-4 {
    background: #ffffff;
    margin-left: 60px;
}
#banner2,#banner3{
    height: 127px;
    width: 467px;
    border-radius: 2px;
}
.banner-left{
    width: 824px;
    border-radius: 2px;
}
.banner-right.right {
    padding-right: 32px;
    float: right;
}
.main-header-top.right {
    margin-right: -10px;
}
#banner1{
    margin-left: -32px;
    width: 858px;
    height: 260px;
    border-radius: 2px;
}
#banner2{margin-bottom: 7px;}

#line{ border-top: 1px #828282 solid;}
.cart {
    margin-top: 14px;
    margin-left: 6px;
    font-size: 20px;
} 
/* #icon-cart{
    fill: white;
}
#icon-cart:hover{
    fill: black;
} */

/* icon search */
input.form-control {
    padding: 10px;
    margin-right: -69px;
}
.input-group-prepend {
    padding: 0 -2px;
    margin-top: 4px;
    padding-right: 60px;
}
button#button-addon8 {
    margin-right: -30px;
    padding: 6px 23px;
}
/* Content */
.cover-content{
    background: #E5E5E5;
}
/* Category */
.bg-danhmuc .owl-stage-outer {
    background: white;
}
.bg-danhmuc h3{
  margin-bottom: 0px;
  padding: 10px;
  color: #828282;
  background: white;
}
.bg-danhmuc .owl-theme .owl-nav {
    margin: -372px -35px;
}
.bg-danhmuc i{
    font-size: 1.5rem;
    border: grey 1px solid;
    background: white;
    border-radius: 50%;
}
.category-farames{
    border: 1px #f0f0f0 solid;
    margin-bottom: 10px;
    text-align: center;
}
.category-farames img.img-fluid {
    padding-left: 20px;
}
.item a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-size: .8rem;
}
.item a:hover{
    font-weight: bold;
}
.owl-carousel .owl-nav button.owl-next{
    font-size: 3rem;
    margin-left: 95%;
}
.owl-theme .owl-nav{
    margin: -18% -55px;
    color: #828282;
}
/* Flash sale */
.flash-sale .owl-stage-outer {
    background: rgba(249, 165, 26, 0.37);
}
.flash-sale .owl-theme .owl-nav {
    margin: -340px -38px;
    color: #828282;
}
.fsale img{
    border: #ED3029 solid 2px;
}
.flash-sale .owl-carousel .owl-item img {
    height: 180px;
}
.flash-sale .owl-carousel .owl-item img {
    width: 90%;
    margin-left: 13px;
}
.flash-sale{
    color: #EE4623;
    font-weight: bold;
}
.flash-sale h3{
    margin-top: -2%;
    margin-bottom: 2%;
    margin-left: 10px;
}
.fsale img {
    width: 100%;
}
.daban{
    border-radius: 10px;
    color: white;
    background: #EE4623;
    text-align: center;
    margin: 12px 23px;
}
.owl-carousel .owl-nav button.owl-prev {
        /* font-size: 3rem; */
        margin-right: 0;
        margin-top: 13.5%;
        text-align: justify;
        border-radius: 50%;
}
/* Xu Hướng Tìm Kiếm */
.nuochoa .img-fluid {
    width: 104px;
}
.xuhuong {
    margin: 0 16%;
}
.cover-xuhuong{
    margin-top: 19%;
}
#search1, #search3 {
    margin-left: 6px;
    max-width: 123%;
    height: 88px;
}
#search2, #search4, #search5{
    max-width: 132%;
    height: 88px;
}
#img-quanao{
    padding-bottom: 1px;
}
.tainghe p {
    margin-top: 10px;
    margin-left: -18%;
    font-size: 13px;
    color: #828282;
}

.nuochoa{
    border: #ED3029 2px solid;
}
/* Tìm kiếm hàng đầu */
.toptimkiem .nuochoa-timkiem img{
    height: 68px;
    margin-left: -8px;
}
.timkiemhd .owl-carousel .owl-nav button.owl-prev {
    font-size: 3rem;
    margin-right: 0;
    margin-top: 3%;
    text-align: justify;
}

.timkiemhd .owl-theme .owl-nav {
    margin: -200px -37px;
    color: #828282;
}
.cover-timkiem{
    margin: 0 16%;
    padding-bottom: 215px;
    margin-top: 30px;
    background: white
}
.toptimkiem p{
    padding-left: 29px;
    color: #828282;
}
#ban-thang{
   background: #FCB813;
    margin-right: -90.5px;
    padding-left: 14px;
    margin-left: 13px;
}
#oplung{
    padding: 10px 13px;
    margin-right: -50px;
    color: #828282;
}
#iphone-timkiem{
    width: 100%;
    height: 135px;
}
.toptimkiem {
    border: orange 2px solid;
    display: flex;
    background: white;
    margin-left: -4px;
    margin-right: -11px;
    margin-bottom: -5px;
    padding-top: 13px;
}

.owl-carousel .owl-item img {
    width: 74%;
    text-align: center;
    margin-left: 13px;
}
.toptimkiem .nuochoa-timkiem{
    margin-left: -2px;
}
/* Gợi ý hôm nay */
.goiy {
    margin: 0 16%;
}
.goiy h3{ color: #828282;}
.giunhiet{
    border: solid 1px#828282;
    padding: 0;
    margin: 5px;
}
.xuhuong .container, .cover-timkiem .container, .goiy .container, .aogiunhiet .container {
    background: white;
}
.aogiunhiet img{
    width: 208px;
    height: 188px;
}
.aogiunhiet p{
    margin-left: 5px;
}
.aogiunhiet .right{
    color: #828282;
    margin-right: 5px;
}
.aogiunhiet .container{
    padding: 0 20px;
}
.price{
    font-weight: bold;
    color:#ED3029;
    margin-bottom:-12%;
}
.xemthem-goiy a{
    border: 1px solid #e5e5e5;
    text-align: center;
    background: #e5e5e5;
    color: black;
    text-decoration: none;
    padding: 10px 80px;
}
.xemthem-goiy{padding-left: 40%;
    padding-top: 3%;
    padding-bottom:8%;
}
/* Footer */
footer{
    background: #DFDFDF;
    padding-top: 5px;
    border-top: 2px solid #EE4623;
}
footer p{
    color: #828282;
    font-weight: bold;
}
footer .img-fluid{
    width: 25%;
}
#pay{
    width: 72%;
    padding-bottom: 5%;
}

.chamsockhach a{
    text-decoration: none;
    color: #828282;
    display: flex;
    line-height: 2;
}
.fb-is-lid{
    margin: 30px 0px;
}
.fb-is-lid i {
    margin: 8px 0px;
}
.lienhe p{
    font-size: 1rem;
    font-weight: normal;
    color: black;
}
#dangky1 {
    width: 80%;
}
#dangky2{
    margin-top: 98%;
    width: 80%;
    margin-left: -33px;
}
/* chinh sach */
.chinhsach a{
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-size: 0.8rem;
}
.chamsockhach a:hover, .main-header-top a:hover{
    color: #141111d4;
    font-weight: bold;
}
.chinhsach .row{
    margin-left: 31px;
    margin-right: 37px;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0.8rem;
}
.chinhsach .main-header-top>ul{
    margin-left:15% ;
}
.baohanh p{
    text-align: center;
    color: black;
    font-weight: normal;
    margin-top: -25px;
}
#trachnhiem {
    margin-right: -90%;
}
.fb-is-lid i {
    padding: 0 2px;
}
.vanchuyen{
    width: 122%;
}
#dvship{
    padding-top: 48%;
}
/* all */
i.fa.fa-angle-left {
    padding: 0px 6px 0px 5px;
}
i.fa.fa-angle-right {
    padding: 0px 4px 0px 6px;
}
.cover-timkiem i{
    font-size: 1.5rem;
    border: grey 1px solid;
    background: white;
    border-radius: 50%;   
}
.flash-sale i{
    font-size: 1.5rem;
    border: grey 1px solid;
    background: white;
    border-radius: 50%;
}
.bg-flash{
    background: rgba(249, 165, 26, 0.37);
    margin-top: 30%;
}
i.fa.fa-angle-left:hover{
    color: #828282;
    background: white;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: blue;
    text-decoration: none;
}
i.fa.fa-angle-left:hover {
    color: blue;
        background: white;
}

/* hover cac item */
.category-farames:hover{
    border: blue 1px solid;
}
.daban:hover, #oplung:hover {
    color: black;
    font-weight: bold;
}
.nuochoa:hover {
    border: blue 2px solid;
}
.cover-xuhuong .right:hover, .cover-timkiem .right:hover,.goiy .xemthem:hover{
    color: #EE4623;
    font-weight: bold;
}
.giunhiet:hover{
    border: 1px solid black;
    font-weight: bold;
}
.xemthem-goiy>a:hover{
    border: 1px solid black;
    color: #ea1010;
}
